{
  "presets": [
    ["env", { "modules": "commonjs" }]
  ],
  "plugins": ["transform-runtime", "transform-object-rest-spread"],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ],
      "sourceMap": true
    }
  }
}
