@font-face {
    font-family: "noisefont";
    src: url("./noisefont.eot?85ae6156386fb366f871eb686d9dbfe0?#iefix") format("embedded-opentype"),
url("./noisefont.woff2?85ae6156386fb366f871eb686d9dbfe0") format("woff2"),
url("./noisefont.woff?85ae6156386fb366f871eb686d9dbfe0") format("woff"),
url("./noisefont.ttf?85ae6156386fb366f871eb686d9dbfe0") format("truetype"),
url("./noisefont.svg?85ae6156386fb366f871eb686d9dbfe0#noisefont") format("svg");
}

i {
    line-height: 1;
}

i:before {
    font-family: noisefont !important;
    font-style: normal;
    font-weight: normal !important;
}

.ico-close:before {
    content: "\f101";
}
.ico-maximize:before {
    content: "\f102";
}
.ico-minimize:before {
    content: "\f103";
}

i-after {
  line-height: 1;
}

i-after:after {
  font-family: noisefont !important;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: top;
}

.ico-close-after:after {
  content: "\f101";
}
.ico-maximize-after:after {
  content: "\f102";
}
.ico-minimize-after:after {
  content: "\f103";
}
