@font-face {
    font-family: "noisefont";
    src: url("./noisefont.eot?9440d2f90964154385d6797ca7928fbd?#iefix") format("embedded-opentype"),
url("./noisefont.woff2?9440d2f90964154385d6797ca7928fbd") format("woff2"),
url("./noisefont.woff?9440d2f90964154385d6797ca7928fbd") format("woff"),
url("./noisefont.ttf?9440d2f90964154385d6797ca7928fbd") format("truetype"),
url("./noisefont.svg?9440d2f90964154385d6797ca7928fbd#noisefont") format("svg");
}

i {
    line-height: 1;
}

i:before {
    font-family: noisefont !important;
    font-style: normal;
    font-weight: normal !important;
}

.ico-close:before {
    content: "\f101";
}
.ico-maximize:before {
    content: "\f102";
}
.ico-minimize:before {
    content: "\f103";
}

i-after {
  line-height: 1;
}

i-after:after {
  font-family: noisefont !important;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: top;
}

.ico-close-after:after {
  content: "\f101";
}
.ico-maximize-after:after {
  content: "\f102";
}
.ico-minimize-after:after {
  content: "\f103";
}
