@font-face {
    font-family: "noisefont";
    src: url("./noisefont.ttf?1febff5742c2b0e6c1a37299ef48ff0b") format("truetype");
}

i {
    line-height: 1;
}

i:before {
    font-family: noisefont !important;
    font-style: normal;
    font-weight: normal !important;
}

.ico-close:before {
    content: "\f101";
}
.ico-maximize:before {
    content: "\f102";
}
.ico-minimize:before {
    content: "\f103";
}

i-after {
  line-height: 1;
}

i-after:after {
  font-family: noisefont !important;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: top;
}

.ico-close-after:after {
  content: "\f101";
}
.ico-maximize-after:after {
  content: "\f102";
}
.ico-minimize-after:after {
  content: "\f103";
}
