$bg-classroom: pink;

$z-index-0: 0;
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
$z-index-6: 6;
$z-index-10: 10;


$app-min-width: 1170px;

// Colors
$knob-grid-background: rgb(39,39,39);



//Helpers
@for $i from 0 through 8 {
  .index-#{$i} {
    z-index: $i
  }
}
@for $i from 1 through 8 {
  .n-index-#{$i} {
    z-index: -$i
  }
}

//Effects
@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1.7);
  }
  40% {
    transform: scale(2);
  }
  50% {
    transform: scale(2.4);
  }
  60% {
    transform: scale(2);
  }
  70% {
    transform: scale(1.7);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse_animation_tiny {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


// .pulse {
//   animation-name: pulse_animation;
//   animation-duration: 5000ms;
//   transform-origin: 70% 70%;
//   animation-iteration-count: infinite;
//   animation-timing-function: linear;
// }

.bounce-enter-active {
  animation: pulse_animation 0.5s;
}
.bounce-tiny-enter-active {
  animation: pulse_animation_tiny 0.5s;
}
// .bounce-leave-active {
//   animation: pulse_animation 0.5s reverse;
// }

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .25s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  opacity: 1;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .25s;
}
@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.fade-valve-enter-active {
  transition: opacity 1s;
}
.fade-valve-enter /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}
.fade-enter,
.fade-leave-to {
    opacity: 0
}

// Tooltip
.tooltip-box {
  font-family: 'Conthrax';
  font-size: .6rem;
  color: black;
  background-color: white;
  border: solid 1px rgb(122, 44, 44);
  z-index: $z-index-2;
}
.tooltip-text {
  padding: 2px;
}
